@CHARSET "UTF-8";
body, td, th{
	font-family: 'nanum gothic',맑은 고딕, 한컴돋움, 돋움;
	font-size: 0.9em;
	}
#wrap	{
	width: 1100px;
	margin: 0 auto;
	}
.top_img	{
	background:url("../images/bg_top1.PNG")  repeat-x;
	height:6px;
	}
.top_Line{
	clear:both;
	background:url("../images/line6.jpg")  repeat-x;
	height:1px;	
}

#header	{
	width:96%;margin: 0 auto;
	height: 98px;	
	}
	
	#header h1	{
		float: left;
		width: 20%;
		background: white;
		}
	#headerRight	{		
		float: left;
		width: 79%;
		height: 98px;
		background: white;
		position: relative;
		}
		#headerRight ul.views	{
			background:white;
			font-size: 0.8em;
			float: right;
			margin: 10px 0px;
			padding: 5px 0px;	
			list-style: none;	
				
			}
			#headerRight ul.views li	{
				float: left;	/*display: inline;*/
				}
			#headerRight ul.views li a	{
				padding: 6px;				
				text-decoration: none;
				color:#575757;			
				}
			#headerRight ul.views li a:hover, #headerRight ul.views li a:focus	{
				/*background: #CCFF99;*/
				
				color:#0066FF;	
				}		
		
/* 	header2 */
#header2{
	
	border: 1px solid black;
	margin: 10px 0 10px 0;
	padding:0;
	height: 100px;
	background-color:#2a3954;

}

#header2 ul{
	margin: 0;
	padding: 0;
}
	#header2 .topNav{
		background:black;
	}
	
	#header2 .topNav p{
		font-size:20px;
	}
	
	#header2 .topNav ul{
		text-align:center;
		list-style: none;
		
	}
	
		#header2 .topNav ul li{
		float: left;	
		margin: 0 30px 0 70px;
	
		
	}
	
		#header2 .topNav ul li a{
		padding: 6px;
		text-decoration: none;
		color:#575757;
		}		
		
		
		#header2 .topNav ul li a:hover, header2 .topNav ul li a:focus{
		color:#0066FF;
		}
	
	
/* container */
.container	{
	/*clear: both;*/
	width:100%;
	
	overflow: auto;
	background: white;
	

	}
	.container .leftNavi	{		
		float: left; /*background:#FFCCCC;*/
		width: 15%;
		padding: 35px 0 0 0;
		}
		.container .leftNavi dt	{
			padding: 7px 5px 25px 20px;
			font-weight: bold;
			}
			
		.container .leftNavi dd	{
			margin:0 0 0 20px;
			float:left;
			display: block;
			padding: 0 20px;
			text-align: center;
			}
			.container .leftNavi dd a	{
				text-decoration: none;
				display: block;
				color: #585721;
				
				border: 1px solid #ddd;
				border-left:none;
				border-right:none;
				padding: 10px 0;
			
				}
				.container .leftNavi dd a:hover, .container .leftNavi dd a:focus	{
					background:#EDF2C6 ;
					}
					
	

/* contents */

.container .contents	{
	float: left;
	background: #fff;
	width: 78.0%;
	position: relative;
	padding: 1% 0 5% 0; 
	}
	
/*  centerCon  */
.container .contents .centerCon	{
	clear: both;
	padding: 3% 2% 0 1%;
	float: left;
	width: 57%;
	line-height: 1.5;
	}
	
/* rightCon */

.container .contents .rightCon	{
	float: right;
	padding: 0 0 0 1.5%;
	width: 38.5%;
	}

.container .contents .listCon	{
	clear:both;
	float:left;
	padding: 1% 0 0 1%;
	width: 78%;
} 
	 */ */