@CHARSET "UTF-8";
/* 폰트속성 */
@font-face{
	font-family:'BMJUA';
	src:url('../font/BMJUA_ttf.ttf') format('truetype');
}
/* 로그인 박스*/
.modal {
	display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}
.container {
    position: relative;
    padding: 16px;
}
.close {
    position: absolute;
    right: 15px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}
.inputContainer{
	display: inline-block;
	width: 60%;
}
.btLogin{
	width: 36%;
	height: 84px;
	margin: 5px 0 5px 9px;
	color: white;
	background-color: black;
	border: none;
	cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
	
}
.login {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.addMember{
	width: 100%;
	height: 40px;
	color: white;
	background-color: #888;
	border: none;
	cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 50%;
    border-radius: 5px;
}
.modal ul{
	list-style-type: none;
    overflow: hidden;
}
.modal li{
	float: left;
	padding: 8px 4px;
	font-size: 0.8em;
}
.modal li:FIRST-CHILD{
	margin-left: 46%;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


/* 탑네비게이터 */
.topNav{
	background: #222;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.topNav ul{
	list-style-type: none;
    overflow: hidden;
}
.topNav li{
	float: left;
	padding: 8px 10px;
	font-size: 0.8em;
}
.topNav li:FIRST-CHILD{
	margin-left: 60%;
}
.topNav a{
	color: white;
	font-family: BMJUA;
	font-size: 1.2em;
	font-weight: bold;
}
/* 헤더 */
header{
	text-align: center;
}
.header{
	margin-top: 41px;
	position: relative;
	display: inline-block;
}
.logo{
	position:relative;
	padding: 20px;
	width: 300px;
	margin: 0 auto;
}
.logo img{
	width: 100%;
}
.searchInput{
	width: 500px;
	position: relative;
	margin: 0 auto;
	height: 35px;
	
}
/* 주소 검색 */
.address{
	width: 250px;
	float: left;
	position: relative;
}
.addressdiv{
	width: 200px;
	height: 32px;
	border: 1px solid silver;
	float: right;
	text-indent: 10px;
}
.dong{
	vertical-align: middle;
}
.dongBT{
	background-color: black;
	border: none;
	cursor: pointer;
	height: 33px;
	float: right;
}
.addressfrm{
	border: 1px solid silver;
	position: absolute;
	padding: 10px 15px;
	display: block;
	float: right;
	margin-top: 33px;
	margin-left: 2px;
	z-index: 100;
	background: white;
}
.noti{
	font-size: .8em;
	width: 100%;	
}
.dongdiv{
	position: relative;
}
.findDong{
	width: 170px;
	border: 3px solid silver;
	height: 30px;
	margin-top: 10px;
	padding: 0 30px 0 10px;
}
.sbmDong{
	height: 22px;
	width: 22px;
	position: absolute;
	top: 17px;
	right: 5px;
	border: none;
	background: transparent;
}
.findDong:focus{
	border: 3px solid skyblue;
}

/* 상점 검색 */
.shop{
	position: relative;
	float: right;
}
.fishop{
	width: 200px;
	height: 30px;
	border: 1px solid silver;
}
.findBT{
	background-color: black;
	border: none;
	cursor: pointer;
	height: 34px;
	margin-left: -6px;
}
/* 메인 네비게이션 */
.mainNav{
	background: #222;
	width: 100%;
	z-index: 100;
	margin-top: 20px;
	overflow: hidden;
	height: 100px;
}
.navContain{
	width: 1020px;
	margin: 0 auto;
}
.categoriContain{
	padding-top: 10px;
	width: 110px;
	margin: 5px;
	float: left;
}
.mainNav ul{
	list-style-type: none;
    overflow: hidden;
}
.imgContain{
	width: 50px;
	height: auto;
	margin: 0 auto;
}
.mainNav span{
	color: white;
	font-family: BMJUA;
	font-size: 1.1em;
	margin: 5px;
}

/* 섹션 */
section{
	background-color: #dddddd;
	/* background-color: #f4ebdd; */
}
.mainSection{
	width: 1020px;
	margin: 0 auto;
	position: relative;
}
/* 배너 */
/*음식 사진*/
.foodItem{
	width: 216px;
	display: inline-block;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    box-shadow: 1px 4px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
}
.foodItem:hover {
	box-shadow: 3px 8px 20px 0 rgba(0,0,0,0.2);
}
.foodImg{
	width: 100%;
	height: auto;
}
.foodIcon{
	width: 70px;
	height: auto;
	position: absolute;
	top: 30%;
	left: 35%;
	display: none;
}
.foodIcon img{
	width: 100%;
	height: auto;
}
.foodIcon p{
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
}
/* 푸터 */
footer{
	border-top: 2px solid silver;	
}
.footer{
	width: 1020px;
	margin: 0 auto;
}
.footer p{
	font-size: 0.7em;
	letter-spacing: 1px;
	color: silver;
}
.leftFoot{
	width: 46%;
	display: inline-block;
	padding: 13px;
}
.rightFoot{
	width: 47%;
	display: inline-block;
	padding: 13px;
}
.centerFoot{
	text-align: center;
}
.centerFoot ul{
	list-style-type: none;
    overflow: hidden;
    display: inline-block;
}
.centerFoot li{
	float: left;
	padding: 3px 4px;
}
.centerFoot a{
	font-weight: bold;
	font-size: 0.75em;
}
.centerFoot p{
	font-size: 0.9em;
}
/* 위치 네비게이션 */
.location{
	overflow: hidden;
}
.location ul{
	list-style-type: none;
    overflow: hidden;
}
.location li{
    padding: 30px 10px 10px 0;
	float: left;
	font-size: 0.8em;
}
/* 필드셋 */
.fieldsetContain{
	background-color: white;
	border: 1px solid silver;
	padding: 40px;
}
.fieldsetContain legend{
	font-size: 2.5em;
	font-weight: bold;
	padding-bottom: 20px;
	letter-spacing: -3px;
}
.fieldsetContain form{
	border-top: 2px solid #222;
	padding-top: 10px;
}
.div1{
	padding: 10px 0;
	vertical-align: middle;
	display: -webkit-flex;
	display: flex;
}
.div2{
	vertical-align: middle;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 10px;
	margin-top: -5px;
}
.inputText1{
	height: 25px;
	padding-left: 20px;
}
.inputText2{
	height: 25px;
	padding-left: 20px;
	margin-right: 20px;
}
.sp1{
	margin-left: 20px;
}
.lb1{
	font-weight: bold;
	text-align: right;
	padding-top:5px;
	padding-right: 30px;
	vertical-align: middle;
	-webkit-flex: lb1;
	flex: lb1;
	width: 130px;
	min-width: 50px;
}
.bt1{
	height: 31px;
	vertical-align: middle;
	background-color: #222;
	color: white;
	font-weight: bold;
	font-size: 1em;
	border: none;
	cursor: pointer;
}
.bt2{
	height: 31px;
	margin-right: 20px;
}
.bt3{
	font-size: 1.3em;
	height: 60px;
}
.bt4{
	font-size: 1.3em;
	height: 60px;
	margin-left: 30px;
}
.btblack{
	background-color: #222;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	vertical-align: middle;
	padding-bottom: 4px;
}
.btbrown{
	padding-bottom: 4px;
	background-color: #978371;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	vertical-align: middle;
}
.btgray{
	padding-bottom: 4px;
	background-color: #808080;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	vertical-align: middle;
}
.sub1{
	height: 41px;
	vertical-align: middle;
	background-color: #222;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	border: none;
	cursor: pointer;
}

div.checkboxContainer{
	display: inline-block;
	font-size: 0.8em;
	margin: 0 15px;
}
a.a1{
	color: #808080;
	font-size: 0.9em;
	margin: 2px 0 0 2px;
}

/* 탭 메뉴버튼 */
#tabs ul{
	height: 70px;
	padding-bottom: 5px;
}
#tabs ul>li{
	width: 25%;
	height:100%;
	background-color: white;
	border: 1px solid silver;
	border-bottom: 5px solid #8b8b8b;
	text-align: center;
	float: left;
}
#tabs ul>li.hovereff:hover{
	border-bottom: 5px solid #1e1e1e;
}
#tabs ul>li.noteff{
	border-bottom: 5px solid #1e1e1e;
}
#tabs ul>li.noteff span{
	color: #1e1e1e;
}
span.tabMenu{
	display: inline-block;
	width: 100%;
	padding: 21px 0;
	font-style: inherit;
	font-weight: bold;
	font-size:1.2em;
	color: #8b8b8b
}
#tabs ul>li~li{
	margin-left: -3px;
}

/* 마이페이지 */
.mypage legend{
	font-weight: bold;
	font-size: 2.5em;
}
.mypageNav{
	overflow: hidden;
	margin-top: 20px;
}
.mypageNav ul{
	list-style-type: none;
    overflow: hidden;
}
.mypageNav li{
	float: left;
	width : 24.8%;
	margin-right: 1px;
}
.mypageNav li img{
	width: 100%;
	height: auto;
	text-align: center;
}
.mypageNav li a{
	display: block;
	text-align: center;
	background-color: #212121;
	color: #dddddd;
	font-size: 1.2em;
	font-weight: bold;
	padding: 15px 0;
}
.mypageNav li a:hover{
	background-color: #d65834;
}
.orderList{
	margin: 35px 0;
}
.pageTitle span{
	word-spacing: -4px;
	font-size: 0.9em;
	font-weight: bold;
	vertical-align: middle;
	color: #5e5e5e;
	display: inline-block;
	margin: 6px;
}
.pageTitle strong{
	word-spacing: -4px;
	font-size: 1.3em;
}
.bookmark{
	position: relative;
	border: 1px solid #808080;
	width: 27.5%;
	float: left;
	margin: 10px 20px;
	padding: 15px 0 15px 15px;
	background-color: #eee;
}
.bookmark .close{
	font-size: 25px;
	height: 15px;
	right: 10px;
}
.star{
	float: left;
	margin-top: 10px;
}
.star img{
	width: 17px;
	height: auto;
}
.description{
	float: right;
	font-size: 0.8em;
	margin-top: 10px;
}
.description span{
	color: #ef6816;
	margin: 0 6px 0 2px;
	font-weight: bold;
	
}

/* 테이블 */
.fieldsetContain{
	min-height: 200px;
}
.table1{
	border-top: 1px solid #8b8b8b;
	width: 100%;
}
.table1 tbody{
	cursor: pointer;
}
.table1 tbody tr:hover{
	background-color: #d0d0d0;
}
.table1 td{
	text-align: center;
	padding: 8px;
	border-bottom: 1px solid #8b8b8b;
	font-size: 0.9em;
}
.table1 th{
	padding: 12px;
	border-bottom:2px solid #8b8b8b;
	font-size: 17px;
}
.table1 th:NTH-OF-TYPE(3){
	text-align: left;
	padding-left: 23px;
}
.table1 td:NTH-OF-TYPE(3){
	text-align: left;
	padding-left: 23px;
	font-weight: bold;
}

/* 내정보 입력양식 */
.profile{
	width: 15%;
	float: left;
	margin-left: 25px;
	margin-top: 24px;
}
#image-preview {
	width: 110px;
	height: 110px;
	position: relative;
	overflow: hidden;
	background-color: #212121;
	margin: auto;
	background-image: url("../images/profile.png");
	background-repeat: no-repeat;
}
#image-upload{
    font-size: 93px;
    position: absolute;
    opacity: 0;
    z-index: 10;
    top: 0;
}
#image-label{
    z-index: 5;
    cursor: pointer;
    background-color: #393939;
    color: #ecf0f1;
    width: 110px;
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 2px 0 8px 0;
    margin: auto;
}
.information{
	width: 80%;
	float: left;
}
.information legend {
	font-size: 22px;
}
.pwdfield{
	width: 80%;
	float: left;
	margin-top: 20px;
}
.pwdfield legend {
	font-size: 22px;
}
.sp2{
	font-size: 0.8em;
	color: #c0c0c0;
}

/* 회원 탈퇴 페이지 */
.divdelmem{
	font-size: 14px;
}
.divdelmem li{
	margin-left: 30px;
	padding: 10px 0;
}
.pwdconfirm{
	margin-top: 40px;
}
.pwdconfirm legend{
	font-size: 22px;
	letter-spacing: -2px;
}

/* 내 포인트 페이지 */
.pointinfo{
	margin-top: -15px;
}
.pointinfo legend{
	font-size: 22px;
	letter-spacing: -2px;
}
.divpointview{
	background-color: #dddddd;
	padding: 20px 30px;
	margin-top: 20px;
}
.padding3px{
	padding: 3px;
}
.p1{
	color: #f75e02;
	font-size: 30px;
	font-weight: bold;
}
.graycolor{
	color:  #978371;
}
.div4{
	margin: 15px 0 30px 0;
}
.div3{
	padding: 5px 0;
	font-size: 14px;
}
.poingList{
	margin-top: 30px;
}
.poingList legend{
	font-size: 22px;
	letter-spacing: -2px;
}
.table2{
	border-top: 1px solid #8b8b8b;
	width: 100%;
}
.table2 td{
	text-align: center;
	padding: 8px;
	border-bottom: 1px solid #8b8b8b;
	font-size: 0.9em;
}
.table2 td:NTH-OF-TYPE(2){
	text-align: left;
}
.table2 th{
	padding: 12px;
	border-bottom:2px solid #8b8b8b;
	font-size: 17px;
}
.spgreenbox{
	font-size: 0.8em;
	background-color: #00a600;
	color: white;
	padding: 3px 8px;
}
.sporangebox{
	font-size: 0.8em;
	background-color: #f75e02;
	color: white;
	padding: 3px 8px;
}
/* 내가 작성한 리뷰보기 */
.div3 li{
	float: left;
	padding: 0 5px;
}
.p2{
	font-size: 2em;
	font-weight: bold;
}
.table3{
	width: 100%;
}
.table3 th{
	padding: 10px;
	padding-top: 0;
}
.table3 tbody tr{
	cursor: pointer;
}
.table3 tbody tr:hover{
	background: #d0d0d0;
}
.table3 td{
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #8b8b8b;
	border-top: 1px solid #8b8b8b;
}
.table3 td:NTH-OF-TYPE(3){
	text-align: left;
}
.table3 th:NTH-OF-TYPE(3){
	text-align: left;
}
.sp3{
	font-size: 0.8em;
	border: 1px solid #8b8b8b;
	background: white;
	padding: 1px 3px 4px 3px;
}
.sp3:hover{
	background-color: #408080;
	border: 1px solid #408080;
	color: #400080;
}

/* 공지사항/이벤트 */
.table4{
	width: 100%;
	font-size: 0.9em;
}
.table4 th{
	padding: 10px;
	border-top: 1px solid #444444;
}
.table4 tbody tr{
	cursor: pointer;
}
.table4 tbody tr:hover{
	background: #e6e6e6;
}
.table4 td{
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #c6c6c6;
	border-top: 1px solid #c6c6c6;
}
.table4 td:FIRST-CHILD{
	text-align: left;
	padding-left: 30px;
}
.table4 th:FIRST-CHILD{
	text-align: left;
	padding-left: 30px;
}
ul.pagination li{
	display: inline-block;
}
ul.pagination li a {
	font-size: 0.9em;
	border-radius: 10px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: #408080;
    color: #400080;
}

ul.pagination li a:hover:not(.active) {
	background-color: #ddd;
}


/* 공지 디테일 */
.sp4{
	font-weight: normal;
	padding-left: 10px;
}
.table5{
	width: 100%;
	font-size: 0.9em;
}
.table5 th{
	padding: 10px;
	border-top: 1px solid #444444;
}
.table5 td{
	padding: 30px;
	border-bottom: 1px solid #c6c6c6;
	border-top: 1px solid #c6c6c6;
}
.table5 th:FIRST-CHILD{
	text-align: left;
	padding-left: 30px;
}
.sp5{
	font-size: 0.8em;
	border: 1px solid #8b8b8b;
	background: white;
	padding: 4px 10px 7px 10px;
}
.sp5:hover{
	background-color: #808080;
	border: 1px solid #808080;
	color: white;
}

/* 자주 묻는 질문 */
.div5{
	display: -webkit-flex;
	display: flex;
	width: 100%;
}
.tabheader{
	padding: .9em 2em;
	border-bottom: 1px solid silver;
	font-weight: bold;
}
.sp6{
	margin-right: 2em;
	font-weight: bold;
}
/* 아코디언 */
div.ui-accordion-header {
	border-bottom: 1px solid silver;
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .9em 2em;
    font-size: 100%;
    margin-top: -1px;
}
div.ui-accordion-header .sp7{
	border: 1px solid #f75e02;
	background-color: #f75e02;
	color: white;
}
div.ui-state-active{
	border-top:1px solid silver;
	border-bottom:none;
    background: #f7f7f7;
    font-weight: bold;
}
div.ui-state-active .sp7{
	background-color: #000066;
	border: 1px solid #000066;
}
div.ui-accordion-content {
    padding: 1em 2em 1em 8em;
    border-top: 0;
    overflow: auto;
    border-bottom: 1px solid silver;
}
div.ui-accordion-content-active{
	background: #f7f7f7;
}
.ui-helper-reset {
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
div.ui-state-hover{
	border-top:1px solid silver;
	border-bottom: 1px solid silver;
	background: #d9d2d2;
}
span.ui-icon{
	width: 16px;
	height: 16px;
	display: inline-block;
    background-repeat: no-repeat;
    float: right;
    margin-top: .2em;
}
span.ui-icon-difult{
	background-image: url("../images/sign-out-option.png");
}
span.ui-icon-active{
	background-image: url("../images/upload-arrow.png");
}
/* 탭1 */
#tab1 ul{
	height: 50px;
}
#tab1 ul>li~li{
	margin-left: -1px;
}
a.ui-tabs-anchor{
	width:100%;
	height:100%;
}
li.ui-tab {
	color: #8b8b8b;
	font-size:1em;
	font-weight:bold;
	margin-bottom: -1px;
	border: 1px solid silver;
	border-bottom : 2px solid #444444;
    transition: background-color .3s;
}
li.ui-tabs-active{
	background-color: #808080;
	border: 1px solid #808080;
}
li.ui-tabs-active a{
	color: white;
}
li.ui-state-hover{
	background-color: #808080;
	border: 1px solid #808080;
}
li.ui-state-hover a{
	color: white;
}

/* 필드셋 */
.fieldset1{
	margin-top: 40px;
}
.fieldset1 legend{
	font-size: 22px;
	letter-spacing: -2px;
}
.hr1{
	margin-bottom: -2px;
}
.sp7{
	border-radius: 50%;
	margin-right: 2em;
	font-weight: bold;
	display:inline-block;
	width: 16px;
	height: 16px;
 	text-align: center;
 	font-size: 12px;
 	font-weight: bold;
}


/* 유틸 클래스 */
.color-orange{
	color: #f75e02;
}
.cursor-pointer{
	cursor: pointer;
}
.height-40px{
	height: 40px;
}
.align-middle{
	vertical-align: middle;
}
.deciwidth{
	width: 10%;
}
.quarterwidth{
	width: 25%;
}
.halfwidth{
	width: 50%;
}
.fullwidth{
	width: 100%;
}
.autowidth{
	width: auto;
}
.align-center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.float-left{
	float: left;
}
.float-right{
	float:right;
}
.clear-both{
	clear: both;
}
.flex1{
  -webkit-flex: 1;
          flex: 1;
}
.flex2{
  -webkit-flex: 2;
          flex: 2;
}
.flex3{
  -webkit-flex: 3;
          flex: 3;
}
.flex4{
  -webkit-flex: 4;
          flex: 4;
}
.flex5{
  -webkit-flex: 5;
          flex: 5;
}
.flex6{
  -webkit-flex: 6;
          flex: 6;
}
.vertical-container{
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
