<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>


<link rel="stylesheet" href="../../../css/reset.css" type="text/css"/>
<link rel="stylesheet" href="../../../css/dropmenu.css" type="text/css" />
<link rel="stylesheet" href="../../../css/slideimg.css" type="text/css" />
<link rel="stylesheet" href="../../../css/login.css" type="text/css"/>
<link rel="stylesheet" href="../../../css/marketmember3.css" type="text/css"/>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>


</head>
<body>
	<div id="wrap">
		<div id="top_1">
			<div id="header">
				<div id="logo"> <img src="../../../images/logo_p.png" width="188" height="90"> </div>
				<div id="nav">
					<div class="menu_test">
						<ul>
							<li class="float_leftmenu"><a href="">내 업소관리</a>
								<div class="open_menu">
									<ul>
										<li><a href="">menu_1</a></li>
										<li><a href="">menu_2</li>
										<li><a href="">menu_3</li>
										<li><a href="">menu_4</li>
									</ul>
								</div></li>
							<li class="float_leftmenu"><a href="">서비스 소개</a></li>
							<li class="float_leftmenu"><a href="">사장님 꿀팁</a></li>
							<li class="float_leftmenu"><a href="">이벤트</a></li>
							<li class="float_leftmenu"><a href="">고객센터</a></li>
					</div>
				</div>
			</div>
		</div>




		<div id="main">
			<div id="main_box">
				<div id="box_1">
					<div id="a_1">
						<div id="show1">
						정보입력
						</div>
						<div class="show2">
							<div id="lsh">
							가입하신 정보는 회원님의 동의 없이 공개되지 않으며, 개인정보 보호정책에 의해 보호를 받습니다.
							</div>
							<div id="rsh">
							03 정보입력
							</div>
						</div>
						
						<div class="infoinput">
							<div id="hostinfo">
								<table border="3"; width="100%"; height="100%";>
									<tr>
										<td width="10%" rowspan="4">사장님정보</td>
										<td>사장님성함</td>
									</tr>
									<tr>
										<td>휴대폰번호</td>
									</tr>
									<tr>
										<td>생년월일</td>
									</tr>
									<tr>
										<td>이메일주소</td>
									</tr>
								</table>
							</div>
							<div id="marketinfo">
							
							</div>
							<div id="accountinfo">
							
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>




 
		<div id="bottom_1">
			<div id="footer">
			<p>
			야시켜 | 우리가게마케팅센터  |  회사소개 이용약관  |  광고운영정책  |  개인정보취급방침  |  제휴문의<br>
			사업자등록번호 : 123-45-67890 l 통신판매업 신고번호 : 서울 당산 - 0000호 I 대표 : 거지킹 l 주소 : 서울 영등포구 양화대교 220 3번다이빙
			<br>Copyright © 2016. All Rights Reserved.
			</p>
			</div>
		</div>

	</div>
</body>
</html>