<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Yasikyeo</title>
<link rel="stylesheet" type="text/css" href="../../../css/reset.css" />
<link rel="stylesheet" type="text/css" href="../../../css/main.css" />
<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
<script type="text/javascript" src="../../../jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../../../jquery/jquery-ui.js"></script>
<script type="text/javascript">
 $(function() {
	 $(".dongBT").click(function() {
		 if($(".addressfrm").css("display")=="none"){
			 var options = {};
			 $( ".addressfrm" ).show("drop" , options, 1000);
		 }else{
			 $(".addressfrm").hide();
		 } 
	 });
	 $(".addressfrm").hide();
	 
	 $(".foodItem").hover(function() {
		$(this).find(".foodIcon").show();
		$(this).find(".foodImg").css("opacity","0.2");
	 },function(){
		$(this).find(".foodIcon").hide();
		$(this).find(".foodImg").css("opacity","1");
	 });
	 
  } );	
</script>
</head>
<body>
<div class="topNav">
	<ul>
		<li><a href="#">로그인</a></li>
		<li><a href="#">회원가입</a></li>
		<li><a href="#">고객센터</a></li>
	</ul>
</div>
<header class="header">
		<div class="logo">
			<img alt="메인로고" src="../../../images/mainLogo.png">
		</div>
		<div class="searchInput">
			<div class="address">
				<div class="addressdiv">
					<span class="dong">서울특별시</span>
					<button class="dongBT"><img alt="타겟" src="../../../images/target.png"></button>
				</div>
				<div class="addressfrm">
					<div class="noti">
						<p>현재 설정된 주소가 맞지 않으신가요?</p>
						<p>동명을 검색해서 다시 설정해주세요</p>
					</div>
					<div class="dongdiv">
						<form action="">
							<input type="text" class="findDong" placeholder="동명을 입력하세요">
							<input type="image" class="sbmDong" src="../../../images/search.png">
						</form>
					</div>
				</div>
			</div>	
			<form action="" name="frmSearch" id="frmSearch">
				<div class="shop">
					<input type="text" class="fishop">
					<button class="findBT"><img alt="돋보기" src="../../../images/magnifier.png"></button>
				</div>
			</form>
		</div>
</header>
<section class="mainSection">
	<article class="mainBanner">
		<!-- Start WOWSlider.com BODY section -->
		<div id="wowslider-container1">
		<div class="ws_images"><ul>
				<li><img src="../../../images/benner1.jpg" alt="배너1" title="배너1" id="wows1_0"/></li>
				<li><img src="../../../images/benner2.jpg" alt="배너2" title="배너2" id="wows1_1"/></li>
				<li><a href="#"><img src="../../../images/benner3.jpg" alt="bootstrap slider" title="배너3" id="wows1_2"/></a></li>
				<li><img src="../../../images/benner4.jpg" alt="배너4" title="배너4" id="wows1_3"/></li>
			</ul></div>
			<div class="ws_bullets"><div>
				<a href="#" title="배너1"><span><img src="../../../images/tooltip1.jpg" alt="배너1"/>1</span></a>
				<a href="#" title="배너2"><span><img src="../../../images/tooltip2.jpg" alt="배너2"/>2</span></a>
				<a href="#" title="배너3"><span><img src="../../../images/tooltip3.jpg" alt="배너3"/>3</span></a>
				<a href="#" title="배너4"><span><img src="../../../images/tooltip4.jpg" alt="배너4"/>4</span></a>
			</div></div>
		<div class="ws_shadow"></div>
		</div>	
		<script type="text/javascript" src="../../../jquery/wowslider.js"></script>
		<script type="text/javascript" src="../../../jquery/script.js"></script>
		<!-- End WOWSlider.com BODY section -->
	</article>
	<article class="mainMenu">
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		<div class="foodItem">
	  		<img class="foodImg" src="../../../images/m.png">
  			<div class="foodIcon">
	  			<img alt="" src="../../../images/lunch.png">
	  			<p>도시락</p>
  			</div>
		</div>
		
	</article>
</section>
</body>
</html>